In [2]:
#Convert integer to binary program
n=int(input("Enter a number: "))
a=[]
while(n>0):
    dig=n%2
    a.append(dig)
    n=n//2
a.reverse()
print("Binary Equivalent is: ")
for i in a:
    print(i,end=" ")

Enter a number: 40003
Binary Equivalent is:
1 0 0 1 1 1 0 0 0 1 0 0 0 0 1 1

In [ ]:
#Give caffeine remaining in body

caff=float(input())

remainCaff=caff/2
remainCaff1=remainCaff/2
remainCaff2=remainCaff1/4

print('After 6 hours: {:.2f} mg'.format(remainCaff))
print('After 12 hours: {:.2f} mg'.format(remainCaff1))
print('After 24 hours: {:.2f} mg'.format(remainCaff2))

In [8]:
#Cost of driving a set distance program
def driving_cost(miles_driven,mpg,dpg):
    cost=(1/mpg) * dpg * miles_driven
    return cost


if __name__ == '__main__':

    mpg=float(input())
    dpg=float(input())


    cost_10 = driving_cost(10,mpg,dpg)
    cost_50 = driving_cost(50,mpg,dpg)
    cost_400 = driving_cost(400,mpg,dpg)

    print('{:.2f}'.format(cost_10))
    print('{:.2f}'.format(cost_50))
    print('{:.2f}'.format(cost_400))

4.23
5.00
11.82
59.10
472.81

In [14]:
#Program to calculate the change given an integer
def exact_change(tot_change):
    ndol = tot_change // 100

    tot_change -= ndol*100
    nq = tot_change // 25

    tot_change -= nq*25
    nd = tot_change // 10

    tot_change -= nd*10
    nn = tot_change // 5

    tot_change -= nn*5
    np = tot_change // 1

    return ndol, nq, nd, nn, np


if __name__ == '__main__':
    tot_change = int(input())
    ndol, nq,  nd, nn, np = exact_change(tot_change)

    if tot_change == 0:
        print("no change")

if ndol > 1:
    print('{} dollars'.format(ndol))
elif ndol == 1:
    print('{} dollar'.format(ndol))
else:
    pass

if nq > 1:
    print('{} quarters'.format(nq))
elif nq == 1:
    print('{} quarter'.format(nq))
else:
    pass

if nd > 1:
    print('{} dimes'.format(nd))
elif nd == 1:
    print('{} dime'.format(nd))
else:
    pass

if nn > 1:
    print('{} nickels'.format(nn))
elif nn == 1:
    print('{} nickel'.format(nn))
else:
    pass

if np > 1:
    print('{} pennies'.format(np))
elif np == 1:
    print('{} penny'.format(np))
else:
    pass

40002
400 dollars
2 pennies

In [19]:
#Program for calories burned given age weight heart rate and time spent

age=int(input())
wt=int(input())
hr=int(input())
time=int(input())

calBurned_women = ((age*0.074) - (wt * 0.05741) + (hr * 0.4472) - 20.4022)*time / 4.184
calBurned_men = ((age*0.2017) + (wt * 0.09036) + (hr * 0.6309) - 55.0969) * time / 4.184


print('Women: {:.2f} calories'.format(calBurned_women))
print('Men: {:.2f} calories'.format(calBurned_men))

40
200
85
1
Women: 2.17 calories
Men: 5.90 calories

In [20]:
#Forward prograpagation

from math import exp

# Calculate neuron activation for an input
def activate(weights, inputs):
	activation = weights[-1]
	for i in range(len(weights)-1):
		activation += weights[i] * inputs[i]
	return activation

# Transfer neuron activation
def transfer(activation):
	return 1.0 / (1.0 + exp(-activation))

# Forward propagate input to a network output
def forward_propagate(network, row):
	inputs = row
	for layer in network:
		new_inputs = []
		for neuron in layer:
			activation = activate(neuron['weights'], inputs)
			neuron['output'] = transfer(activation)
			new_inputs.append(neuron['output'])
		inputs = new_inputs
	return inputs

# test forward propagation
network = [[{'weights': [0.13436424411240122, 0.8474337369372327, 0.763774618976614]}],
		[{'weights': [0.2550690257394217, 0.49543508709194095]}, {'weights': [0.4494910647887381, 0.651592972722763]}]]
row = [1, 0, None]
output = forward_propagate(network, row)
print(output)

[0.6629970129852887, 0.7253160725279748]

In [22]:
#Greatest common denominator

num_a = int(input('Enter first positive integer: '))
print()

num_b = int(input('Enter second positive integer: '))
print()

while num_a != num_b:
    if num_a > num_b:
        num_a = num_a - num_b
        
    else:
        num_b = num_b - num_a
        
print('GCD is {}'.format(num_a))

Enter first positive integer: 10000

Enter second positive integer: 10

GCD is 10

In [24]:
#Program to test for a prime number

k=int(input('Enter a number to see if it is prime.'))


def is_prime(k):
    j=round(k/2)
    val=True
    for i in range(2, j):
        if k % i == 0:
            return False
    return True

print(is_prime(k))

Enter a number to see if it is prime.7
True

In [27]:
#Program to count the times a letter appears in a phrase

letter=str(input())
phrase=str(input())
count=0
n=letter[0:1]
j=0                         #Back slicing index
k=1                         #Front slicing index

for letter in phrase:
    if n == phrase[j:k]:
        count+=1

    j+=1
    k+=1

print(count)

Apples are eating apes
A
1

In [ ]:
#Program to multply four numbers and average them

num1 = float(input())
num2 = float(input())
num3 = float(input())
num4 = float(input())

prod=num1*num2*num3*num4

avg=(num1+num2+num3+num4)/4

print('{:.0f} {:.0f}'.format(prod,avg))
print('{:.3f} {:.3f}'.format(prod,avg))

In [33]:
#Names program using sets

male_names = { 'John', 'Bailey', 'Charlie', 'Chuck', 'Michael', 'Samuel', 'Jayden', 'Aiden', 'Henry', 'Lucas' }
female_names = { 'Elizabeth', 'Meghan', 'Kim', 'Khloe', 'Bailey', 'Jayden', 'Aiden', 'Britney', 'Veronica', 'Maria' }

# Use set methods to create sets all_names, neutral_names, and specific_names.
all_names=female_names.union(male_names)
specific_names=female_names.difference(male_names, female_names)
neutral_names=male_names.intersection(female_names)

print(sorted(all_names))
print(sorted(neutral_names))
print(sorted(specific_names))

['Aiden', 'Bailey', 'Britney', 'Charlie', 'Chuck', 'Elizabeth', 'Henry', 'Jayden', 'John', 'Khloe', 'Kim', 'Lucas', 'Maria', 'Meghan', 'Michael', 'Samuel', 'Veronica']
['Aiden', 'Bailey', 'Jayden']
[]

In [34]:
#Olympics 2012 program 

def Tot_M(LST):
    T_medals = sum(LST)
    return T_medals

def g_medals(LST):
    for country in world:
        return [item[0] for item in LST]

def tm_greatest(tm_world):                   #This works
    total=0
    for value in tm_world:
        if total < value:
            total = value

    return total

GRB = [29, 17, 19]
CHN = [38, 28, 22]
RUS = [24, 25, 32]
US = [46, 28, 29]
KOR = [13, 8, 7]
JPN = [7, 14, 17]
GER = [11, 11, 14]
world = [GRB, CHN, RUS, US, KOR, JPN, GER]

tm_GRB=Tot_M(GRB)
tm_CHN=Tot_M(CHN)
tm_RUS=Tot_M(RUS)
tm_US=Tot_M(US)
tm_KOR=Tot_M(KOR)
tm_JPN=Tot_M(JPN)
tm_GER=Tot_M(GER)
tm_world = [Tot_M(GRB),Tot_M(CHN),Tot_M(RUS),Tot_M(US),Tot_M(KOR),Tot_M(JPN),Tot_M(GER)]


print('GRB, CHN, RUS, US, KOR, JPN, GER received', end='')
print(g_medals(world), 'gold medals and won' ,tm_world, 'total medals respectively.')
print('The United States won the most medals overall with', tm_greatest(tm_world),'total medals.')
print('The United States won the most gold medals with',US[0],'medals.')
print('Japan was the country who won the smallest amount of gold medals with',JPN[0],'medals.')

GRB, CHN, RUS, US, KOR, JPN, GER received[29, 38, 24, 46, 13, 7, 11] gold medals and won [65, 88, 81, 103, 28, 38, 36] total medals respectively.
The United States won the most medals overall with 103 total medals.
The United States won the most gold medals with 46 medals.
Japan was the country who won the smallest amount of gold medals with 7 medals.

In [37]:
#Real Estate program

curr_pr=int(input())
lastmonth_pr=int(input())

difference=curr_pr - lastmonth_pr

summary_pr = (curr_pr*0.051)/12

print('This house is ${}. The change is ${} since last month.'.format(curr_pr, difference))
print('The estimated monthly mortgage is ${:.2f}.'.format(summary_pr))

10000
40000
This house is $10000. The change is $-30000 since last month.
The estimated monthly mortgage is $42.50.

In [39]:
#Program to print a right facing arrow with an arbitrary character

bc = input() #base_char
hc = input() #head_char

row1 = '      ' + hc
row2 =('{0}{0}{0}{0}{0}{0}{1}{1}'.format(bc,hc))
row3 =('{0}{0}{0}{0}{0}{0}{1}{1}{1}'.format(bc,hc))

print(row1)
print(row2)
print(row3)
print(row2)
print(row1)

0
00
      00
0000000000
000000000000
0000000000
      00

In [40]:
#Program to print a right facing arrow with an arbitrary character

bc = input() #base_char
hc = input() #head_char

row1 = '      ' + hc
row2 =('{0}{0}{0}{0}{0}{0}{1}{1}'.format(bc,hc))
row3 =('{0}{0}{0}{0}{0}{0}{1}{1}{1}'.format(bc,hc))

print(row1)
print(row2)
print(row3)
print(row2)
print(row1)

9
8
      8
99999988
999999888
99999988
      8

In [42]:
#Program to calculate the total amount given the number of coins 

num_q=int(input())
num_d=int(input())
num_nick=int(input())
num_pen=int(input())

total=(num_q*25)+(num_d*10)+(num_nick*5)+(num_pen*1)

n_tot=(total/100)

print("Amount:$",n_tot)

100
13
24
7
Amount:$ 27.57

In [43]:
#Program to draw a figure

import turtle as turt

#turt.foward(n)          #Moves turtle n pixels
#turt.right(angle)       #rotates turtle angle degrees CW
#turt.left(angle)        #rotates turtle angle degrees CCW
#turt.setheading(angle)  #Moves the turtles head angle degrees CW

#turt.penup()            #turtle tracer is visible
#turt.pendown()          #tracer invisible
#turt.circle(r)          #Draws circle with radius = r

#turt.goto(x,y)

def point_on_circle():
    turt

turt.circle(200)
turt.penup()
turt.goto(0,90)
turt.pendown()
turt.circle(60)
turt.setheading(9)
turt.forward(200)

In [1]:
#Draw a star
from turtle import *
color('black', 'white')
begin_fill()
while True:
    forward(200)
    left(170)
    if abs(pos()) < 1:
        break
end_fill()
done()

In [2]:
#Twin primes program

def is_prime(k):
    j=round(k/2)
    val=True
    for i in range(2, j):
        if k % i == 0:
            return False
    return True

p_nums=[]
for i in range(1,30):
    if is_prime(i)==True:
        p_nums+=[i]

tp_count=0
for num in p_nums:
    pot_twin = num + 2
    if (is_prime(pot_twin)):
        tp_count+=1
        print(num, pot_twin,"are twin primes.")

print('The number of twin primes is:', tp_count)



#Sort through the list so that only the
#numbers that sequentially differ by two
#are stored

#Now, create a process to go through p_nums
#and sequentially check for primes numbers that
#that have a difference of two
#find a list of EVERY OTHER  prime number

#create an index to find every other prime
#If the difference between the first prime number
#and second prime number is two make the twin primes
#into a tuple and print it as a tuple

1 3 are twin primes.
2 4 are twin primes.
3 5 are twin primes.
5 7 are twin primes.
11 13 are twin primes.
17 19 are twin primes.
29 31 are twin primes.
The number of twin primes is: 7